<aw-wizard #wizard [navBarLayout]="'large-filled-symbols'">
  <aw-wizard-step [stepTitle]="'Crear palabra'" [navigationSymbol]="{ symbol: '1' }">
    <div class="centered-content">
      <div>
        <app-word-form></app-word-form>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step [stepTitle]="'Crear test'" [navigationSymbol]="{ symbol: '2' }">
    <div class="centered-content">
      <div>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
        <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step [stepTitle]="'Añadir sus etimologías'" [navigationSymbol]="{ symbol: '3' }">
    <div class="centered-content">
      <div>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
        <button type="button" class="btn btn-secondary" awResetWizard>Reset</button>
      </div>
    </div>
  </aw-wizard-step>
</aw-wizard>