<div class="container">
  <aw-wizard #wizard [navBarLayout]="'large-filled-symbols'">
    <aw-wizard-step [stepTitle]="'Crear palabra'" [navigationSymbol]="{ symbol: '1' }">
      <div class="centered-content">
        <app-word-form></app-word-form>
        <br>
        <button type="button" class="btn btn-block btn-default" awNextStep>Siguiente paso</button>
      </div>
    </aw-wizard-step>

    <aw-wizard-step [stepTitle]="'Crear test'" [navigationSymbol]="{ symbol: '2' }">
      <div class="centered-content">
        <app-test-form></app-test-form>
        <br>
        <button type="button" class="btn btn-block btn-default" awNextStep>Siguiente paso</button>
        <button type="button" class="btn btn-block btn-default" awPreviousStep>Regresar al paso anterior</button>
      </div>
    </aw-wizard-step>

    <aw-wizard-step [stepTitle]="'Añadir sus etimologías'" [navigationSymbol]="{ symbol: '3' }">
      <div class="centered-content">
        <br>
        <button type="button" class="btn btn-block btn-danger" awResetWizard>Limpiar todo</button>
        <button type="button" class="btn btn-block btn-default" awPreviousStep>Regresar al paso anterior</button>
      </div>
    </aw-wizard-step>
  </aw-wizard>
</div>