<div class="text-center"><h1>Crear test</h1></div>

<form (ngSubmit)="onSubmit(model)" #testForm="ngForm">
    <div class="form-group">
        <label for="phrase">Frase</label>
        <textarea type="text" class="form-control" id="phrase" required
            [(ngModel)]="model.phrase" name="phrase" #phrase="ngModel"></textarea>
        <div [hidden]="phrase.valid || phrase.pristine" class="alert alert-danger">
            Es necesaria la frase
        </div>
    </div>

    <div class="form-group">
        <label for="etymos_version_test">Versión para la cual es mostrada</label>
        <select class="form-control" id="etymos_version_test"
                required
                [(ngModel)]="model.etymos_version_test" name="etymos_version_test"
                #etymos_version_test="ngModel">
        <option *ngFor="let version of etymos_versions" [value]="version">{{version}}</option>
        </select>
        <div [hidden]="etymos_version_test.valid || etymos_version_test.pristine" class="alert alert-danger">
            Es necesario definir la versión
        </div>
    </div>

    <div class="form-group">
        <label for="incorrect_option1">1ra opción incorrecta</label>
        <input type="text" class="form-control" id="incorrect_option1" required
            [(ngModel)]="model.incorrect_option1" name="incorrect_option1" #incorrect_option1="ngModel">
        <div [hidden]="incorrect_option1.valid || incorrect_option1.pristine" class="alert alert-danger">
            Es necesaria la primera opción
        </div>
    </div>

    <div class="form-group">
        <label for="incorrect_option2">2da opción incorrecta</label>
        <input type="text" class="form-control" id="incorrect_option2" required
            [(ngModel)]="model.incorrect_option2" name="incorrect_option2" #incorrect_option2="ngModel">
        <div [hidden]="incorrect_option2.valid || incorrect_option2.pristine" class="alert alert-danger">
            Es necesaria la segunda opción
        </div>
    </div>

    <button type="submit" class="btn btn-block btn-success" [disabled]="!testForm.form.valid">Crear</button>
    <button type="button" class="btn btn-block btn-danger" (click)="reset(); testForm.reset()">Limpiar forma</button>
</form>